@using Hrm.Domain.Roles;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hrm.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index" id="organizationName"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="New" asp-action="Index">News</a>
                        </li>
                        @if (ViewContext.HttpContext.User.IsInRole(SystemRoles.Admin) || ViewContext.HttpContext.User.IsInRole(SystemRoles.Manager))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                        }
                        
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-btn-icon" asp-area=""><i class="bi bi-person"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-btn-icon" asp-area=""><i class="bi bi-bell"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark nav-btn-icon" asp-area="" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-in-right"></i></a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script>
        var organizationName = '@TempData["OrganizationName"]';
        var navBarOrganizationName = document.getElementById('organizationName');

        if (organizationName) {
            localStorage.setItem('organizationName', organizationName);
            navBarOrganizationName.textContent = organizationName;
        }
        else {
            organizationName = localStorage.getItem('organizationName');
            if (organizationName) {
                navBarOrganizationName.textContent = organizationName;
            }
            else {
                navBarOrganizationName.textContent = "HRM System";
            }
        }

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='~/lib/tinymce/tinymce.min.js' referrerpolicy="origin"></script>

    <script type="text/javascript">
        function showLoader() {
            document.getElementById("loader").style.display = 'block';
        }
    </script>

    <script>
        tinymce.init({
            selector: '#content'
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
