html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  /*position: relative;*/
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-btn-icon {
  font-size: 22px;
}

.add-btn {
    color: #198754;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 45px;
}

.edit-btn {
    color: #198754;
    font-size: 20px;
}