@using Hrm.Domain.Roles;
@model IEnumerable<Hrm.Domain.ViewModels.Employee.EmployeeShortInfoModel>;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Emploees";
}

<div class="card-group">
    @foreach (var employee in Model)
    {
        @await Html.PartialAsync("_EmployeeCard", employee)
    }
</div>

@if (ViewContext.HttpContext.User.IsInRole(SystemRoles.Admin) || ViewContext.HttpContext.User.IsInRole(SystemRoles.Manager))
{
    <a class="add-btn" asp-area="" asp-asp-controller="Employee" asp-action="Create"><i class="bi bi-plus-circle-fill"></i></a>
}